<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<style type="text/css">
			[v-cloak] {
				display: none !important;
			}
			.month-picker{
				text-align: left;
				padding-left: 15px;
			}
		</style>
	</head>

	<body style="background: white;">
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-cloak v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background: white;" id="contentData">
			<div class="mui-row" style="height: 45px;background: #EAEAEA;text-align: center; padding: 12px 0;">
				<p id='months' style="color: #00CFBD;" data-options='{"type":"month"}'  @tap="months($event)"  class="month-picker"></p>
			</div>
			<div class="mui-row">
				<div class="mui-col-xs-12" style="padding: 0 15px;margin-top: 10px;text-align: center;font-size: 14px;">
					<span>出入总次数：</span><span style="color: #FF3333;font-size: 18px;">99999</span> 
				</div>
			</div>
				<div class="mui-row">
					<div style="height: 30px;background-color: #F3EDDB;margin-top:15px;padding: 5px 0 0 10px;">
						 <p>出入校详情</p>
					</div>
					<div>
						<ul class="mui-table-view" style="font-size: 13px;">
							<li class="mui-table-view-cell beauline bg-gray" style="text-align: center;" v-for="(item,index) in 19">
								<div class="mui-row">
									<div class="mui-col-xs-1">{{++index}}</div>
									<div class="mui-col-xs-5">2021年2月5日 15:10:12</div>
									<div class="mui-col-xs-4">哪个门？</div>
									<template v-if="index<3">
										<div class="mui-col-xs-2"><p style="margin: 0 auto;width: 40px;padding: 2px;background-color: #FF9900;color: #FFFFFF;border-radius: 7px;">出</p></div>
									</template>
									<template v-else-if="index>2 && index<6">
										<div class="mui-col-xs-2"><p style="margin: 0 auto;width: 40px;padding: 2px;background-color: #FF9900;color: #FFFFFF;border-radius: 7px;">入</p></div>
									</template>
									<template v-else>
										<div class="mui-col-xs-2"><p style="margin: 0 auto;width: 40px;padding: 2px;background-color: #3ACA3A;color: #FFFFFF;border-radius: 7px;">入</p></div>
									</template>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/muiPicker/mui.picker.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/publicProtocol.js"></script>
		<script src="../../js/utils/moment.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>
		<script type="text/javascript">
			mui.init();
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 1,
					headTitle: '详情',
				}
			});
			//vue数据 
			var contentData = new Vue({
				el: "#contentData",
				data: {
					personal:store.get(window.storageKeyName.PERSONALINFO),
					pageData: {},
				},
				methods:{
					months:function(e){
						let that=e.target
						var _self = that;
						if(_self.picker) {
							_self.picker.show(function (rs) {
								let start_month=moment(rs.text).format('YYYY年MM月');
								let end_month=moment(rs.text).add(6, 'M').format('YYYY年MM月');
								$('#months').html(start_month+' ~ '+end_month)
								_self.picker.dispose();
								_self.picker = null;
							});
						} else {
							console.log(that);
							var optionsJson = that.getAttribute('data-options') || '{}';
							var options = JSON.parse(optionsJson);
							var id = that.getAttribute('id');
							_self.picker = new mui.DtPicker(options);
							_self.picker.show(function(rs) {
								let start_month=moment(rs.text).format('YYYY年MM月');
								let end_month=moment(rs.text).add(6, 'M').format('YYYY年MM月');
								$('#months').html(start_month+' ~ '+end_month)
								_self.picker.dispose();
								_self.picker = null;
							});
						}
					}
				}
			}); 
			mui.plusReady(function() {
				let start_month=moment().format('YYYY年MM月')
				let end_month=moment().add(6, 'M').format('YYYY年MM月');
				$('#months').html(start_month+' ~ '+end_month)
			});
		</script>
	</body>

</html>
