<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.circular-square {
				border-radius: 50%;
				width: 56px;
				height: 56px;
			}


			.aCss {
				font-size: 15px;
				color: #333;
				width: 5rem;
			}

			.icon-right {
				position: fixed;
				float: right;
				font-size: 14px;
				margin-top: 11px;
				right: 5%;
			}

			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea,
			input::-webkit-input-placeholder,
			textarea::-webkit-input-placeholder {
				color: #999;
				/* placeholder字体大小  */
				font-size: 14px;
			}

			.line {
				right: 0;
				bottom: 0;
				left: 0;
				height: 1px;
				content: '';
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				background-color: #e4e4e4;
			}

			.mui-input-row:after {
				height: 0px;
			}

			.mui-input-row {
				margin: 0.3125rem 0;
			}

			.mui-input-row label {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 1.1;
				float: left;
				width: 30%;
				padding: 11px 15px;
			}

			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				float: right;
				width: 68%;
				margin-right: 2%;
				margin-bottom: 0;
				padding-left: 0.625rem;
				border: 0;
			}

			.mui-dtpicker-header button:last-child {
				background-color: #00CFBD;
				border: #00CFBD;
			}

			.add-item {
				width: 96% !important;
				margin: 0 2%;
				font-size: 16px;
				color: #FFF;
				background-color: #00CFBD;
				border: 1px solid #00CFBD;
			}

			.btnBorder {
				border: none;
			}

			.submitBtn {
				margin-top: 10px;
				height: 40px;
				background: #00CFBD;
				color: white;
				width: 90%;
				border-color: #00CFBD;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 v-cloak class="mui-title">{{headTitle}}</h1>
			<a @click="location()" class="mui-pull-right mui-icon mui-icon-location" style="font-size: 16px;margin-top: 7px;">定位</a>
		</header>
		<div v-cloak class="mui-content" style="margin-top: 0px;background-color: #FFFFFF;" id="contentData">
			<div v-cloak class="mui-input-row">
				<label class="aCss" style="float: left;">工作地点</label>
				<textarea maxlength="200" readonly="readonly" v-model="formData.workAddress" rows="2" placeholder="请点击右上角按钮定位"></textarea>
			</div>
			<div class="line"></div>
			<div v-cloak class="mui-input-row">
				<div id="MultiMedia">
				</div>
			</div>
			<div class="line"></div>
			<div @click="clickSubmitBtn" style="text-align: center;"><button type="button" class="mui-btn submitBtn">确定</button></div>
		</div>
		<div id="videoPopover" class="mui-popover">
			<video id="video" style="position: absolute;z-index: 999;" controls="controls" webkit-playsinline playsinline>
				您的浏览器不支持 video 标签。
			</video>
		</div>
		<div id="audioPopover" class="mui-popover">
			<div id="audio_show" class="audio-show-popover">
				<span id="audio_icon" class="mui-icon mui-icon-mic audio-icon"></span>
				<canvas id="audio_canvas" class="audio-canvas"></canvas>
				<span id="audio_close" class="mui-icon iconfont icon-guanbi"></span>
				<div id="audio_time" class="audio-time">00:00</div>
				<div id="audio_control" class="audio-control">
					<div id="audio_play" class="audio-control-background audio-control-play">
						<div></div>
					</div>
					<div id="audio_pause" class="audio-control-background audio-control-pause">
						<div></div>
						<div></div>
					</div>
				</div>
				<audio id="audio_audio" autoplay="autoplay" preload="auto"></audio>
			</div>
		</div>
		<!--  -->
		<script src="../../js/picVideoAudio/MultiMedia.js"></script>
		<script src="../../js/cloud/AndroidFileSystem.js"></script>
		<script src="../../js/qiniu/qiniu.js"></script>
		<script src="../../js/utils/cryption.js"></script>
		<script src="../../js/cloud/CloudFileUtil.js"></script>
		<script src="../../js/utils/mui.zoom.js"></script>
		<script src="../../js/utils/mui.previewimage.js"></script>
		<script src="../../js/picVideoAudio/compress.js"></script>
		<script src="../../js/picVideoAudio/recordvideoutil.js"></script>
		<script src="../../js/picVideoAudio/playutil.js"></script>
		<script src="../../js/picVideoAudio/showvideoutil.js"></script>
		<script src="../../js/picVideoAudio/showaudio.js"></script>
		<script src="../../js/picVideoAudio/gallerypick.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src='../../js/picVideoAudio/compressVideo.js'></script>
		<script src="../../js/qiniu/cloudutil.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js"></script>
		<script src="../../js/libs/RSA/BigInt.js"></script>
		<script src="../../js/libs/RSA/RSA.js"></script>
		<script src="../../js/libs/encryption/RSAEncrypt.js"></script>
		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/libs/encryption/signHmacSHA1.js'></script>
		<script src='../../js/libs/jquery.js'></script>
		<script src='../../js/libs/encryption/sortSign.js'></script>

		<script type="text/javascript">
			var $M = mui.init();
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: '',
				},
				methods: {
					location: function() {
						getGeocode();
					}
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					formData: {
						workAddress: '',
					},
				},
				methods: {
					submitData: function() {
						if (plus.networkinfo.getCurrentType() == plus.networkinfo.CONNECTION_NONE) {
							mui.toast("网络连接失败,请重新尝试一下", "cancel");
							sendFlag = 0;
							return;
						}
						if (message.title.trim().length == 0 || message.content.trim().length == 0) {
							mui.toast("请填写具体内容后再发布", "cancel");
							sendFlag = 0;
							return;
						}
						var wd = events.showWaiting();
						if (multiMedia.data.PictureArray.length == 0) { //没有传附件
							submitDataLast(wd, '3', '', '', 0, '');
						} else {
							uploadFile(wd); //上传文件
						}
					}
				}
			});
			var curPage = {};
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var pathList = []; //记录需要删掉的图片和缩略图
			var encNameList = []; //附件名称
			var QNUptoken; //token数据
			var uploadNum = 0; //记录上传的次数
			var hideOption; //隐藏键盘的数据
			var multiMedia; //多媒体控件
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('curPage:' + JSON.stringify(curPage));
				contentData.formData.todayDate = getNowFormatDate();
				tempHead.headTitle = curPage.title_name;
				tempHead.showBack = 1;
				init(); //初始化控件

				// 刚进入界面，自动定位
				getGeocode();

				// window.addEventListener('itemAdd', function(data) {
				// 	console.log("data: " + JSON.stringify(data.detail));
				// 	let obj = {
				// 		itemCode: data.detail.itemCode,
				// 		itemType: data.detail.itemTypeCode,
				// 		itemProp: data.detail.itemPropCode,
				// 		itemName: data.detail.itemName,
				// 		itemBrand: data.detail.itemBrand,
				// 		itemModel: data.detail.itemModel,
				// 		inNum: '',
				// 		inPrice: '',
				// 	}
				// 	contentData.formData.list.push(obj)
				// });
			});
			//多媒体控件
			multiMedia = MultiMedia.multiMedia({
				MultiMediaId: 'MultiMedia', //存放多媒体对象控件的id
				Key: store.get(window.storageKeyName.PERSONALINFO).user_code, //
				Picture: true, //是否显示图片图标
				Audio: false, //是否显示音频图标
				Video: false, //是否显示视频图标
				TotalPicture: 1, //图片的个数
				TotalAudio: 1, //音频的个数
				TotalVideo: 1, //视频的个数
			});

			/*
			 * 初始化控件
			 */
			function init() {
				events.blurBack();

				//图片查看控件
				mui.previewImage();
				multiMedia.initEvent();

				//设置底部卡片上边距-15px→10px;
				//				document.getElementById("bootom-card").style.marginTop = "10px";
				/**
				 * 播放视频
				 * @param {Object} data
				 */
				multiMedia.videoPlayCallBack = function(data) {
					//console.log("videoPlayCallBack")
					ShowVideoUtil.showVideo(document.getElementById("video"), 'videoPopover', data.path, data.localthumb);
				}

				/**
				 * 播放音频
				 * @param {Object} data
				 */
				multiMedia.audioPlayCallBack = function(data) {
					//console.log('audioPlayCallBack ' + JSON.stringify(data));
					ShowAudioUtil.initAudio(data, 1);
				}

				//初始化视频播放器
				ShowVideoUtil.initVideo(document.getElementById("video"));
				//初始化音频播放器
				audio_option = {
					x: localStorage.getItem('resolutionWidth') * 1.4, //圆心的x轴坐标值
					y: (plus.screen.resolutionHeight / 3 * 2), //圆心的y轴坐标值
					r: plus.screen.resolutionHeight * 0.25 * 1.5 //圆的半径
				};
				ShowAudioUtil.initAudioPopover({
					show: document.getElementById("audio_show"),
					icon: document.getElementById("audio_icon"),
					canvas: document.getElementById("audio_canvas"),
					play: document.getElementById("audio_play"),
					pause: document.getElementById("audio_pause"),
					time: document.getElementById("audio_time"),
					audio: document.getElementById("audio_audio")
				});
				//获取配置信息
				hideOption = events.initHideKeyBoard();
			}
			var submitDataLast = function(wd, encType, encAddr, encImg, encLen, encName) {
				//				console.log('encType:' + encType);
				//				console.log('encAddr:' + encAddr);
				//				console.log('encImg:' + encImg);
				//				console.log('encLen:' + encLen);
				// events.showWaiting();
				// var tempData = {
				// 	schoolId: personal.unit_code, //学校ID
				// 	noticeTitle: message.title, //标题
				// 	noticeContent: message.content, //内容
				// 	noticeEncName: encName, //附件名称
				// 	noticeEncAddr: encAddr, //附件地址
				// 	smsSync:0,//是否短信同步
				// 	sendManId: personal.user_code, //发布人ID
				// 	sendManCode: personal.login_name, //发布人账号
				// 	sendManName: personal.user_name, //发布人姓名
				// 	sendManPic: personal.hrImg_url, //发布人头像
				// 	receiveManIds: ids, //接收人人ID
				// 	receiveManCodes: codes, //接收人账号
				// 	receiveManPics: pics, //接收人头像
				// 	receiveManNames: names, //接收人姓名
				// 	index_code:curPage.access.split('#')[1],
				// 	op_code:'add'
				// }
				// postDataEncry(window.storageKeyName.INTERFACE_OA + 'cooperateNotice/addNotice', {}, tempData, 2,function(data) {
				// 	console.log('addNoticePro:' + JSON.stringify(data));
				// 	events.closeWaiting();
				// 	if (data.code == 0) {
				// 		mui.toast("发布成功")
				// 		setTimeout(function() {
				// 			mui.back();
				// 		}, 1000);
				// 		mui.fire(plus.webview.currentWebview().opener(), 'refreshMinePage', {});
				// 	} else {
				// 		mui.toast(data.msg)
				// 		sendFlag = 0;
				// 	}
				// });
			}

			function getGeocode() {
				events.showWaiting();
				console.log("获取定位位置信息:");
				plus.geolocation.getCurrentPosition(geoInf, function(e) {
					mui.toast("获取定位位置信息失败：" + e.message);
				}, {
					geocode: true
				});
			}

			function geoInf(position) {
				events.closeWaiting();
				var str = "";
				str += "地址：" + position.addresses + "\n"; //获取地址信息
				str += "坐标类型：" + position.coordsType + "\n";
				var timeflag = position.timestamp; //获取到地理位置信息的时间戳；一个毫秒数；
				str += "时间戳：" + timeflag + "\n";
				var codns = position.coords; //获取地理坐标信息；
				var lat = codns.latitude; //获取到当前位置的纬度；
				str += "纬度：" + lat + "\n";
				var longt = codns.longitude; //获取到当前位置的经度
				str += "经度：" + longt + "\n";
				var alt = codns.altitude; //获取到当前位置的海拔信息；
				str += "海拔：" + alt + "\n";
				var accu = codns.accuracy; //地理坐标信息精确度信息；
				str += "精确度：" + accu + "\n";
				var altAcc = codns.altitudeAccuracy; //获取海拔信息的精确度；
				str += "海拔精确度：" + altAcc + "\n";
				var head = codns.heading; //获取设备的移动方向；
				str += "移动方向：" + head + "\n";
				var sped = codns.speed; //获取设备的移动速度；
				str += "移动速度：" + sped;
				console.log(JSON.stringify(position));
				console.log('position.addresses:' + position.addresses);
				contentData.formData.workAddress = position.addresses;
			}

			function getNowFormatDate() {
				var date = new Date();
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				var currentdate = year + seperator1 + month + seperator1 + strDate;
				return currentdate;
			}
			//判断当前选择时间是否小于是指定时间
			function compareTime(beginTime, endTime) {
				beginTime = beginTime.replace(/-/g, '');
				beginTime = beginTime.replace(/ /g, '');
				beginTime = beginTime.replace(/:/g, '');
				endTime = endTime.replace(/-/g, '');
				endTime = endTime.replace(/ /g, '');
				endTime = endTime.replace(/:/g, '');
				if (parseFloat(beginTime) < parseFloat(endTime)) {
					return 0;
				}
				return 1;
			}
			/**
			 * 上传文件
			 */
			function uploadFile(wd) {
				var getUpTokenData = {
					type: '0', //获取上传token的方式
					appId: 4, //项目id
					fileArray: [], //文件数组
					mainSpace: window.storageKeyName.QNPUBSPACE, //文件存放在私有空间或公有空间
					uploadSpace: window.storageKeyName.XXTNOTICE, //上传的空间
				}

				if (multiMedia.data.PictureArray.length != 0) { //图片
					for (var i = 0; i < multiMedia.data.PictureArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.PictureArray[i].path);
					}
				} else if (multiMedia.data.VideoArray.length != 0) { //视频
					getUpTokenData.type = '2';
					for (var i = 0; i < multiMedia.data.VideoArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.VideoArray[i].path);
					}
				} else if (multiMedia.data.AudioArray.length != 0) { //音频
					getUpTokenData.type = '3';
					for (var i = 0; i < multiMedia.data.AudioArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.AudioArray[i].fpath);
					}
				}
				uploadNum = getUpTokenData.fileArray.length; //记录上传的次数
				//								console.log('uploadNum:' + uploadNum);
				//								console.log('getUpTokenData:' + JSON.stringify(getUpTokenData));
				CloudFileUtil.getUpLoadTokens(getUpTokenData, function(data) {
					//					console.log("getUpLoadTokens111111 " + JSON.stringify(data));
					if (data.code == 1) {
						//						console.log('上传配置 ' + JSON.stringify(data.configure));
						//						console.log('上传凭证 ' + JSON.stringify(data.data));
						QNUptoken = data.data; //token数据

						if (multiMedia.data.PictureArray.length != 0) { //图片
							//记录图片和缩略图地址
							for (var j = 0; j < multiMedia.data.PictureArray.length; j++) {
								for (var i = 0; i < QNUptoken.Data.length; i++) {
									//									console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									var fileId = fileName.split("_")[0];
									if (multiMedia.data.PictureArray[j].id == fileId) {
										//										console.log('QNUptoken.Data[i].Domain:' + QNUptoken.Data[i].Domain);
										//										console.log('+QNUptoken.Data[i].Key:' + QNUptoken.Data[i].Key);
										multiMedia.data.PictureArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.PictureArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
									}
								}
							}
						} else if (multiMedia.data.VideoArray.length != 0) { //视频
							//记录视频和缩略图地址
							for (var j = 0; j < multiMedia.data.VideoArray.length; j++) {
								var videoPath = multiMedia.data.VideoArray[j].path.split("/");
								var videoName = videoPath[videoPath.length - 1];
								for (var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if (videoName == fileName) {
										//										multiMedia.data.VideoArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						} else if (multiMedia.data.AudioArray.length != 0) {
							//记录音频文件地址
							for (var j = 0; j < multiMedia.data.AudioArray.length; j++) {
								var audioPath = multiMedia.data.AudioArray[j].fpath.split("/");
								var audioName = audioPath[audioPath.length - 1];
								for (var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if (audioName == fileName) {
										multiMedia.data.AudioArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.AudioArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						}
						wd.setTitle('上传中...');
						//开始执行上传任务
						taskCreate(wd);
					} else {
						//						console.log('### ERROR ### 获取上传凭证失败 ### ');
						//						document.getElementById("finish").disabled = false;
						wd.close();
						mui.toast('上传失败 ' + data.message);
					}
				});
			}

			/**
			 * 删除上传失败的文件
			 */
			function BatchDelete(paths, wd) {
				var batchDelete = {
					appId: 4, //int 必填 项目id
					urls: paths //array 必填 需要获取下载token文件的路径
				}
				/**
				 * 七牛批量删除
				 */
				CloudFileUtil.BatchDelete(window.storageKeyName.QNGETTOKENDELETE, batchDelete, function(data) {
						//console.log('七牛删除 ' + JSON.stringify(data));
						if (data.Status == 1) {
							pathList = [];
						} else {
							//console.log('### ERROR ### 七牛删除失败 ### ' + JSON.stringify(data));
						}
						wd.close();
					},
					function(xhr, type, errorThrown) {
						//console.log('### ERROR ### 请求七牛删除失败 ### ' + JSON.stringify(type));
						wd.close();
					}
				);
			}

			/**
			 * 创建上传任务并且逐个任务执行
			 */
			function taskCreate(wd) {
				for (var i = 0; i < QNUptoken.Data.length; i++) {
					if (QNUptoken.Data[i].task == undefined) {
						var filePath = QNUptoken.Data[i].P_Key.split("/");
						var fileName = filePath[filePath.length - 1];
						//获取路径
						var fPath = '';
						var num; //记录第几个文件
						if (multiMedia.data.PictureArray.length !== 0) { //图片
							for (var k = 0; k < multiMedia.data.PictureArray.length; k++) {
								var path = multiMedia.data.PictureArray[k].path.split("/");
								var name = path[path.length - 1];
								if (fileName == name) {
									num = k;
									fPath = multiMedia.data.PictureArray[k].path;
									break;
								}
							}
						} else if (multiMedia.data.VideoArray.length !== 0) { //视频
							for (var k = 0; k < multiMedia.data.VideoArray.length; k++) {
								var path = multiMedia.data.VideoArray[k].path.split("/");
								var name = path[path.length - 1];
								if (fileName == name) {
									num = k;
									fPath = multiMedia.data.VideoArray[k].path;
									break;
								}
							}
						} else if (multiMedia.data.AudioArray.length !== 0) { //音频
							for (var k = 0; k < multiMedia.data.AudioArray.length; k++) {
								var path = multiMedia.data.AudioArray[k].fpath.split("/");
								var name = path[path.length - 1];
								if (fileName == name) {
									num = k;
									fPath = multiMedia.data.AudioArray[k].fpath;
									break;
								}
							}
						}
						CloudFileUtil.upload(fPath, QNUptoken.Data[i].Token, QNUptoken.Data[i].Key, function(upload, status) {
							//上传任务完成的监听
							//														console.log('上传任务完成' + status + '|' + JSON.stringify(upload));
							if (status == 200) {

								//console.log('上传成功');
								QNUptoken.Data[i].task = true;
								//QNUptoken.Data[i].persistentId = JSON.parse(upload.responseText).persistentId;
								uploadNum--;
								var title = '上传 ' + (QNUptoken.Data.length - uploadNum) + "/" + (QNUptoken.Data.length);
								wd.setTitle(title);
								//记录失败后需要删除的文件
								if (multiMedia.data.PictureArray.length !== 0) { //图片
									pathList.push(multiMedia.data.PictureArray[num].domain);
									var path = multiMedia.data.PictureArray[num].path.split("/");
									var name = path[path.length - 1];
									name = name + '(' + cloudutil.transformSize(upload.totalSize) + ')';
									encNameList.push(name);
								} else if (multiMedia.data.VideoArray.length !== 0) { //视频
									pathList.push(multiMedia.data.VideoArray[num].domain);
									pathList.push(multiMedia.data.VideoArray[num].thumb);
								} else if (multiMedia.data.AudioArray.length !== 0) { //音频
									pathList.push(multiMedia.data.AudioArray[num].domain);
									pathList.push(multiMedia.data.AudioArray[num].thumb);
								}

								if (uploadNum == 0) {
									//console.log('所有上传都成功');
									var encAddr = []; //附件地址
									var encImg = []; //附件缩略图地址
									var encLen = 0; //音视频时长
									var type;
									if (multiMedia.data.PictureArray.length !== 0) { //图片
										for (var j = 0; j < multiMedia.data.PictureArray.length; j++) {
											encAddr.push(multiMedia.data.PictureArray[j].domain);
											//											console.log('multiMedia.data.PictureArray:'+ JSON.stringify(multiMedia.data.PictureArray[j]));

										}
										type = '1';
									} else if (multiMedia.data.VideoArray.length !== 0) { //视频
										for (var j = 0; j < multiMedia.data.VideoArray.length; j++) {
											encAddr.push(multiMedia.data.VideoArray[j].domain);
											encImg.push(multiMedia.data.VideoArray[j].thumb);
										}
										type = '2';
										encLen = multiMedia.data.VideoArray[0].duration;
									} else if (multiMedia.data.AudioArray.length !== 0) { //音频
										for (var j = 0; j < multiMedia.data.AudioArray.length; j++) {
											encAddr.push(multiMedia.data.AudioArray[j].domain);
											encImg.push(multiMedia.data.AudioArray[j].thumb);
										}
										type = '4';
										encLen = multiMedia.data.AudioArray[0].time;
									}
									var encAddrStr = encAddr.join('|');
									var encImgrStr = encImg.join('|');
									var encNameStr = encNameList.join('|');
									submitDataLast(wd, type, encAddrStr, encImgrStr, encLen, encNameStr);
								} else {
									taskCreate(wd);
								}
							} else {
								//console.log('### ERROR ### 上传失败 ### ' + status + ' ' + JSON.stringify(upload));
								//								document.getElementById("finish").disabled = false;
								mui.toast('上传失败 ' + status + ' ' + upload.responseText);
								if (pathList.length != 0) {
									BatchDelete(pathList, wd);
								} else {
									wd.close();
								}
							}
						}, function(upload, status) {
							switch (upload.state) {
								case 0: //上传任务开始调度
									//console.log('上传任务开始调度:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 1: //上传任务开始请求
									//console.log('上传任务开始请求:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 2: //上传任务请求已经建立
									//console.log('上传任务请求已经建立:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 3: //上传任务提交数据
									////console.log('上传任务状态监听:|id:' + upload.__UUID__ + '|uploadedSize:' + upload.uploadedSize + '|totalSize:' + upload.totalSize + '|uploadState:' + upload.state);
									break;
								case 4: //上传任务已完成
									//console.log('上传任务已完成:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 5: //上传任务已暂停
									//console.log('上传任务已暂停:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								default:
									//console.log('上传任务状态监听:其他状态' + upload.state);
									break;
							}
						}, function(task) {
							//上传任务创建成功的回调
							task.start();
						});

						//停止本次循环
						break;
					}
				}
			}
		</script>
	</body>

</html>
