<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<style type="text/css">
			[v-cloak] {
				display: none;
			}

			.circular-square {
				border-radius: 50%;
				width: 56px;
				height: 56px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" id="tempHead">
			<a v-if="showBack==1" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">{{headTitle}}</h1>
		</header>
		<div class="mui-content" style="margin-top: 0px;" id="contentData">
			<ul class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;padding-left: 7px;margin-top: 0px;">
				<li v-for="model in showArray" class="mui-table-view-cell mui-media mui-col-sm-3 mui-col-xs-3" style="border: 0px;">
					<a href="#" @click="clickFunction(model.id)">
						<img class="circular-square" :src=model.icon />
						<div class="mui-media-body divNameCss">{{model.name}}</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/mui.min.js"></script>
		<script src="../../js/utils/vconsole.min.js"></script>
		<script src="../../js/utils/vue.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<!---->
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/utils/pushPermission.js"></script>
		<script src="../../js/utils/clearIcon.js"></script>
		
		<script type="text/javascript">
			mui.init();
			var tempHead = new Vue({
				el: "#tempHead",
				data: {
					showBack: 0,
					headTitle: ''
				}
			});
			//vue数据
			var contentData = new Vue({
				el: "#contentData",
				data: {
					showArray:[],
					tempArray:[
						{
							name:'公告',
							icon:'../../img/homeSchool/schoolPage8.png',
							id:'1',
							access:'schapp#OA:Notify:MyRead:index'
						},{
							name:'通知',
							icon:'../../img/homeSchool/schoolPage1.png',
							id:'2',
							access:'schapp#OA:Notice'
						},{
							name:'事务',
							icon:'../../img/homeSchool/schoolPage2.png',
							id:'3',
							access:'schapp#OA:CooperateNotice'
						},{
							name:'工作流',
							icon:'../../img/homeSchool/schoolPage3.png',
							id:'4',
							access:'schapp#OA:Approve'
						},{
							name:'资料收集',
							icon:'../../img/homeSchool/schoolPage4.png',
							id:'5',
							access:'schapp#OA:DataCollection'
						},{
							name:'校历',
							icon:'../../img/homeSchool/schoolPage5.png',
							id:'6',
							access:'schapp#OA:Xiaoli:MyRead:index'
						},{
							name:'周程',
							icon:'../../img/homeSchool/schoolPage6.png',
							id:'7',
							access:'schapp#OA:Zhoucheng:MyRead:index'
						},
					]
				},
				methods: {
					clickFunction: function(index) {
						console.log('index:' + index);
						if (index == 1) { //公告
							utils.mOpenWithData("../../html/page2/gonggaoIndex.html", {});
						} else if (index == 2) {
							mui.toast('无权限');
						} else if (index == 3) {
							utils.mOpenWithData("../../html/page2/shiwuIndex.html", {});
						} else {
							mui.toast('无权限');
						}
					}
				},
			});
			mui.plusReady(function() {
				var ws = plus.webview.currentWebview();
				console.log("当前Webview窗口：" + JSON.stringify(ws.preload));
				if (ws.preload) {
					tempHead.headTitle = ws.preload.name;
					for (var i = 0; i < ws.preload.childList.length; i++) {
						var tempM0 = ws.preload.childList[i];
						for (var a = 0; a < contentData.tempArray.length; a++) {
							var tempM1 = contentData.tempArray[a];
							if (tempM1.access == tempM0.access) {
								tempM1.name = tempM0.name;
								contentData.showArray.push(tempM1);
							}
						}
					}
				} else {
					tempHead.showBack = 1;
				}
			});
		</script>
	</body>

</html>
